{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />
</head>
<body>
    <!-- component is from https://tailwindcomponents.com/component/sidebar-navigation -->

    <div class="min-h-screen flex flex-row bg-gray-100">
        <div class="flex flex-col w-56 bg-white rounded-r-3xl overflow-hidden">
            <div class="flex items-center justify-center h-20 shadow-md">
            <h1 class="text-3xl uppercase text-indigo-500">MyTIL</h1>
            </div>
            <ul class="flex flex-col py-4">
                <li>
                    <a href="/" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                        <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-home"></i></span>
                        <span class="text-sm font-medium">Home</span>
                    </a>
                </li>
                <li>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'feed:new_post' %}" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800 js-toggle-post-modal">
                            <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400">
                                <i class="bx bxs-edit"></i>
                            </span>
                            <span class="text-sm font-medium">
                                New Post
                            </span>
                        </a>
                        <a href="{% url 'profiles:settings' user.username %}" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                            <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400">
                                <i class="bx bx-cog"></i>
                            </span>
                            <span class="text-sm font-medium">
                                Settings
                            </span>
                        </a>
                    {% endif %}
                </li>
                <li>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'account_logout' %}"  class="w-full flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
                            <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400">
                                <i class="bx bx-log-out"></i>
                            </span>
                            <span class="text-sm font-medium">
                                Logout
                            </span>
                        </a>
                    {% else %}
                        <button type="button" class="w-full flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800 js-toggle-login-modal">
                            <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400">
                                <i class="bx bx-log-in"></i>
                            </span>
                            <span class="text-sm font-medium">
                                Login
                            </span>
                        </button>
                        <button type="button" class="w-full flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800 js-toggle-signup-modal">
                            <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400">
                                <i class='bx bx-user-plus'></i>
                            </span>
                            <span class="text-sm font-medium">
                                Sign-Up
                            </span>
                        </button>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="p-16 w-full">
            {% if request.user.is_anonymous %}
                {% comment %} # TODO: Make this a banner element {% endcomment %}
                <div class="bg-red-100 border-t border-b border-red-500 text-red-700 px-4 py-3 js-unauth-user" role="alert">
                    <p class="text-md font-bold">
                        Oops, looks like you aren’t logged in! We’re showing you the most recent 30 posts to show what you’re missing!
                    </p>
                    <div>
                        Do you need to <button class="font-bold no-underline hover:underline js-toggle-login-modal">Login</button> or <button class="font-bold no-underline hover:underline js-toggle-signup-modal">Signup</button>?
                    </div>
                </div>
            {% endif %}
            {% block body %}
                {% block content %}{% endblock %}
            {% endblock %}
        </div>

        {% if request.user.is_authenticated %}
            <!-- component is from https://tailwindcomponents.com/component/a-minimal-simple-modal-that-still-looks-good -->
            <div class="flex items-center justify-center fixed left-0 bottom-0 w-full h-full bg-gray-800 bg-opacity-75 hidden js-post-modal">
                <div class="bg-white rounded-lg w-1/2">
                    <div class="flex flex-col items-start p-4">
                        <div class="flex items-center w-full">
                        <div class="text-gray-900 font-medium text-lg">New post</div>
                        <svg class="ml-auto fill-current text-gray-700 w-6 h-6 cursor-pointer js-toggle-post-modal" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"/>
                        </svg>
                        </div>
                        <hr>
                        <div class="w-full">
                            <textarea class="border-2 border-blue-500 my-4 w-full js-post-text" placeholder="Enter your post" maxlength="240" rows="3" data-post-url="{% url 'feed:new_post' %}"></textarea>
                        </div>
                        <hr>
                        <div class="ml-auto">
                            {% include 'includes/post_button.html'%}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if request.user.is_anonymous %}
            <div class="flex items-center justify-center fixed left-0 bottom-0 w-full h-full bg-gray-800 bg-opacity-75 hidden js-login-modal">
                <div class="bg-white rounded-lg w-1/2">
                    <div class="flex flex-col items-start p-4">
                        <div class="flex items-center w-full">
                            <svg class="ml-auto fill-current text-gray-700 w-6 h-6 cursor-pointer js-toggle-login-modal js-toggle-login-exit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"/>
                            </svg>
                        </div>
                        {% include "includes/modals/login_or_signup_modal.html" with login=True %}
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center fixed left-0 bottom-0 w-full h-full bg-gray-800 bg-opacity-75 hidden js-signup-modal">
                <div class="bg-white rounded-lg w-1/2">
                    <div class="flex flex-col items-start p-4">
                        <div class="flex items-center w-full">
                            <svg class="ml-auto fill-current text-gray-700 w-6 h-6 cursor-pointer js-toggle-signup-modal js-toggle-signup-exit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"/>
                            </svg>
                        </div>
                        {% include "includes/modals/login_or_signup_modal.html" with signup=True %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/signup.js' %}"></script>

</body>
</html>