{% extends "base.html" %}

{% load allauth thumbnail %}

{% block title %}
    Account Settings - {{ user.username }}
{% endblock title %}

{% block body %}
    {% comment %} # TODO: Add hero card with profile banner image {% endcomment %}
    <div class="hero h-[30vh] min-h-[25rem]">
        <div class="hero w-full h-3/4 bg-cover bg-no-repeat bg-center rounded-lg opacity-[.4]" style="background-image: url({{ user.profile.image.url }})"></div>
        <div class="ml-5 relative flex w-full h-1/3">
            <!-- Avatar -->
            <div class="flex">
                <div class="-mt-24">
                    <div class="md h-36 w-36 rounded-full relative avatar">
                        <img class="md h-full w-full rounded-full relative border-4 border-gray-100" src="{{ user.profile.image.url }}" alt="avatar">
                        <div class="absolute"></div>
                    </div>
                </div>
            </div>
            <!-- Follow Button -->
            <div class="flex flex-col">
                <p class="font-medium text-2xl ml-5">
                    @{{ user.username }}
                </p>
            </div>
        </div>
    </div>
    {% comment %} # TODO: Fix grid placement {% endcomment %}
    <div class="grid grid-cols-2 grid-rows-2 gap-2">
        <div class="posts-container row-span-2">
            <p class="font-medium text-2xl mb-2">
                Posts <span class="text-lg">({{ total_posts }})</span>
                {% comment %} # TODO: Add most recent posts with option to view all {% endcomment %}
            </p>
            <div class="ml-3">
                {% if posts %}
                    {% for post in posts %}
                        {% include "includes/post.html" with post=post show_detail_link=True %}
                    {% endfor %}
                {% else %}
                    <p class="font-medium text-lg">
                        {% comment %} # TODO: Add new post link to `first` {% endcomment %}
                        You haven't made any posts yet. Create your <span class="hover:underline">first!</span>
                    </p>
                {% endif %}
            </div>
        </div>
        <div class="follow-container row-span-2">
            <div class="followers-container col-start-1 col-end-2">
                <p class="font-medium text-2xl mb-2">
                    Followers <span class="text-lg">({{ total_followers }})</span>
                    {% comment %} # TODO: Add users following user with option to view all {% endcomment %}
                </p>
                <div class="ml-3">
                    {% if followers %}
                        {% for follower in followers %}
                            {% include "includes/cards/followers.html" with follower=follower.followed_by %}
                        {% endfor %}
                    {% else %}
                        <p class="font-medium text-lg">
                            Insert sad face here. You don't have any followers yet!
                        </p>
                    {% endif %}
                </div>    
            </div>
            <div class="following-container col-start-3 col-end-4">
                <p class="font-medium text-2xl mb-2">
                    Following <span class="text-lg">({{ total_following }})</span>
                    {% comment %} # TODO: Add users being followed with option to view all {% endcomment %}
                </p>
                <div class="ml-3">
                    {% if following %}
                        {% for follow in following %}
                            {% include "includes/cards/following.html" with user=follow.following  %}
                        {% endfor %}
                    {% else %}
                        <p class="font-medium text-lg">
                            Discover users to follow!
                            {% comment %} # TODO: Add user search {% endcomment %}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="settings-container">
        <p class="font-medium text-2xl mb-2">
            Settings
        </p>
        <!-- component is from https://tailwindcomponents.com/component/responsive-form-4 -->
        <div class="flex justify-start flex-wrap">
            <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6 ml-3">
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                    <div class="text-gray-600">
                        <p class="font-medium text-lg">Change Profile Images</p>
                    </div>
                    <div class="lg:col-span-2">
                        {% comment %} # TODO: Create image change url {% endcomment %}
                        {% url 'image_change_url' as image_change_url %}
                        <form action="{{ password_change_url }}" method="post">
                            {% csrf_token %}
                            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                                <div class="md:col-span-5">
                                    <label for="profile-image">Profile Image</label>
                                    <div class="image-container flex justify-between items-center">
                                        {% comment %} # TODO: make file upload {% endcomment %}
                                        {% thumbnail user.profile.image "1000x1000" crop="center" as im %}
                                            <img class="mt-1 mx-4 w-20 h-20 object-cover rounded-full hidden sm:block" alt="avatar" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                        {% endthumbnail %}
                                        <input type="text" name="profile-image" id="profile-image" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="{{ user.profile.image }}" />
                                    </div>
                                </div>
                                <div class="md:col-span-5">
                                    <label for="banner-image">Banner Image</label>
                                    {% comment %} # TODO: make file upload {% endcomment %}
                                    {% comment %} # TODO: Change banner image size {% endcomment %}
                                    {% thumbnail user.profile.image "1000x500" crop="center" as im %}
                                        <img class="my-1 w-full h-24 object-cover rounded-lg hidden sm:block" alt="avatar" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                    {% endthumbnail %}
                                    <input type="text" name="banner-image" id="banner-image" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="{{ user.profile.image }}" />
                                </div>
                                <div class="md:col-span-5 text-right">
                                    <div class="inline-flex items-end">
                                        {% comment %} # TODO: Create new button element to include {% endcomment %}
                                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded js-profile-image-change-submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6 ml-3">
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                    <div class="text-gray-600">
                        <p class="font-medium text-lg">Change Password</p>
                    </div>
                    <div class="lg:col-span-2">
                        {% url 'account_change_password' as password_change_url %}
                        <form action="{{ password_change_url }}" method="post">
                            {% csrf_token %}
                            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                                <div class="md:col-span-5">
                                    <label for="password">Password</label>
                                    <input type="text" name="password" id="password" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" />
                                </div>
                                <div class="md:col-span-5">
                                    <label for="password-reentry">Password (enter again):</label>
                                    <input type="text" name="password-reentry" id="password-reentry" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" />
                                </div>
                                <div class="md:col-span-5 text-right">
                                    <div class="inline-flex items-end">
                                        {% comment %} # TODO: Create new button element to include {% endcomment %}
                                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded js-password-change-submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6 ml-3">
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                    <div class="text-gray-600">
                        <p class="font-medium text-lg">Change Email</p>
                    </div>
                    <div class="lg:col-span-2">
                        {% comment %} # TODO: Find email change url {% endcomment %}
                        {% url 'email_change_url' as email_change_url %}
                        <form action="{{ email_change_url }}" method="post">
                            {% csrf_token %}
                            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                                <div class="md:col-span-5">
                                    <label for="current-email">Current Email</label>
                                    <input type="text" name="current-email" id="current-email" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="{{ user.email }}" disabled />
                                </div>
                                <div class="md:col-span-5">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" id="email" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" />
                                </div>
                                <div class="md:col-span-5 text-right">
                                    <div class="inline-flex items-end">
                                        {% comment %} # TODO: Create new button element to include {% endcomment %}
                                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded js-email-change-submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}